@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf7f4;
}
td {
  padding: 0 50px;
}
td:first-child {
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
td,
th {
  border-top: 1px solid #ecf0f1;
  padding: 10px;
}

td {
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
}

th {
  background-color: #4ecdc4;
}

tr:nth-of-type(even) td {
  background-color: #20e3b2;
}
